
h1 {
	color: blue;
	text-align: center;
	font-family: Arial, san-serif;
	font-size: 48px;
}

ul {
	font-family: Arial, san-serif;
	font-size: 28px;
}

footer {
	font-size: 16px;
	text-align: center;
	color: blue;
	position: absolute;
	bottom: 0;
}
