
h1 {
	color: blue;
	text-align: center;
	font-family: Arial, san-serif;
	font-size: 48px;
}

p {	
	color: red;
}

ul {
	font-family: Arial, san-serif;
	font-size: 28px;
}

footer {
	font-size: 28px;
	text-align: center;
	color: blue;
}
