
h1 {
	color: blue;
	text-align: center;
	font-family: Arial, san-serif;
	font-size: 48px;
}

ul {
	font-family: Arial, san-serif;
	font-size: 28px;
}

footer {
	font-size: 18px;
	text-align: center;
	color: grey;
	position: absolute;
	left: 0;
	top: 80%;
	width: 100%;
}
